@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

:root {
  --background: rgb(255, 255, 255);
  --outline: rgb(36, 36, 36);
  --font-color: rgb(245, 245, 245);
  --input-color: rgb(36, 36, 36);
}

.dark-theme {
  --background: rgb(36, 36, 36);
  --outline: rgb(245, 245, 245);
  --font-color: rgb(245, 245, 245);
  --input-color: whitesmoke;
}

body,
h1,
h2,
ul,
p {
  transition: background 0.5s ease;
  margin: 0;
  padding: 0;
  background: var(--background);
}

.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.searchbar {
  display: flex;
  height: 40px;
  padding-top: 10px;
}

input {
  padding: 10px;
  border-radius: 0% 50px 50px 0%;
  border-left: none;
  border-right: 2px solid var(--outline);
  border-top: 2px solid var(--outline);
  border-bottom: 2px solid var(--outline);
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  outline: none;
  transition: background-color 0.5s ease;
  background-color: var(--background);
  color: var(--input-color);
  margin-right: 5px;
}

.tableDiv {
  padding-top: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
  border: solid;
}

th,
td {
  text-align: left;
  max-width: 100px;
  overflow-wrap: break-word;
}

.indCard img {
  width: 240px;
  height: 135px;
  border-radius: 10px;
  padding-bottom: 5px;
  transition: opacity 0.3s ease;
}

.indCard:hover img {
  filter: brightness(1.1);
  cursor: pointer;
}

.indCard:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.indCard {
  width: 240px;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.1s ease;
  border-radius: 10px;
}

.allCard {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.indTag {
  background: rgb(179, 179, 179);
  display: inline-block;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  transition: color 0.5s ease;
  color: var(--background);
  font-family: "Montserrat", sans-serif;
  margin-right: 4px;
  margin-bottom: 4px;
}

.indTag p {
  color: var(--font-color);
}

.indDate {
  background: rgb(110, 110, 110);
  display: inline-block;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  transition: color 0.5s ease;
  color: var(--background);
  font-family: "Montserrat", sans-serif;
  margin-right: 4px;
  margin-bottom: 4px;
}

.searchbar img {
  height: auto;
  width: 29px;
  border-radius: 100% 0% 0% 100%;
  border-left: 2px solid var(--outline);
  border-top: 2px solid var(--outline);
  border-bottom: 2px solid var(--outline);
  padding: 5px;
  z-index: 1;
  margin-right: -1px;
}

.darkmode:hover {
  cursor: pointer;
}

.darkmode {
  font-size: 30px;
  color: var(--outline);
  width: 40px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--outline);
  border-radius: 100%;
}
